body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F7F5;
    color: #5E657A;
    margin: 20px 0 0 0;
}
h1{
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    margin: 0;
}
hr{
    color: #17151A;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16%;
    flex-wrap: wrap;
}
#logo{
    display: flex;
    align-items: flex-start;
    /* flex: 0 1 80%; */
}
#headerItems{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
    /* flex: 0 1 20%; */
}
a{
    text-decoration: none;
    color: #6A5F6B;
}
.links{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #6A5F6B;
}
.other-item{
    margin: 0 1.5em; /* use for non-first elements in horizontal lists */
}
.right-edge-item{
    margin-left: 1.5em;  /* use for first element in horizontal lists when they are right aligned */
}
.left-edge-item{
    margin-right: 1.5em; /* use for first element in horizontal lists when they are left aligned */
}
/* #footer-container{
    background-color: #F5F7F5;
} */
.footer{
    padding: 0 16%;
    display: flex;
    flex-direction: column;
    min-height: 189px;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
    /* margin-top: 0; */
}
.footer-mail{
    padding-left: 5px;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-decoration: underline;
}
.footer-links{ 
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: left;
    justify-content: space-between;
    list-style: none;
    margin: 0; /*ul uses some indentation by default*/
    padding: 0; /*make padding and margin 0 to avoid indentation in future*/
}
@media (max-width: 1226px){
    #header{
        padding: 0 10%;
    }
    .footer{
        padding: 0 10%;
    }
}
@media (max-width: 1038px){
    .other-item{
        margin: 0 1em; /* use for non-first elements in horizontal lists */
    }
    .right-edge-item{
        margin-left: 1em;  /* use for first element in horizontal lists when they are right aligned */
    }
    .left-edge-item{
        margin-right: 1em; /* use for first element in horizontal lists when they are left aligned */
    }
}
@media (max-width: 897px){
}
@media (max-width: 480px){
    #header{
        padding: 0 5%;
    }
    .footer{
        padding: 0 5%;
    }
}
@media (max-width: 400px){
    .other-item{
        margin: 0 0.5em; /* use for non-first elements in horizontal lists */
    }
    .right-edge-item{
        margin-left: 0.5em;  /* use for first element in horizontal lists when they are right aligned */
    }
    .left-edge-item{
        margin-right: 0.5em; /* use for first element in horizontal lists when they are left aligned */
    }
}