.title{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    min-height: 69px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16%;
}
.whitespace{
    min-height: 60px;
    width: 100%;
}
.title-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* max-height: 69px; */
}
.timeline{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.store-buttons{
    display: flex;
    list-style: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: flex-end;
    margin:0;
    height: 69px;
    /* flex: 0 1 20%; */
}
.store-button{
    height: 57px;
}
.app-store-btn{
    margin-right: 1em;
}
.container{
    margin-top: 10px;
    padding: 28px 16% 40px 16%;
    /* background-color: #ECEBF0; */
}
p{
 font-size: 22px;
 font-weight: normal;
 margin: 0;   
}
li{
    font-size: 22px;
    font-weight: normal;
    padding: 0;
}
.project-image{
    height: 200px;
    margin-top: 20px;
}
img{
    width: 100%;
    object-fit: cover;
}
h3{
    margin: 25px 0 0 0;
    font-size: 22px;
    font-weight: bold;
}
ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.process-image {
    height: 0;
    padding: 0; /* remove any pre-existing padding, just in case */
    padding-bottom: 25.98%; /* for a 4:3 aspect ratio */
    background-image: url("../images/simsim-process.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 2% 0 2% 0;
  }
.footer-container{
    background-color: #ECEBF0;
}
@media(max-width: 1270px){
}
@media (max-width: 1226px){
    .title{
        padding: 0 10%;
    }
    .container{
        padding: 28px 10% 40px 10%;
    }
}
@media (max-width: 1038px){

}
@media (max-width: 897px){
    .title{
        flex-wrap: wrap;
        /* justify-content: left; */
        /* align-items: flex-end; */
    }
    .store-buttons{
        margin-top: 5%;
    }
}
@media (max-width: 700px){
    .process-image{
        padding: 0; /* remove any pre-existing padding, just in case */
        padding-bottom: 129%;
        background-size: 70%;
        background-image: url("../images/simsim-process-vertical.png");
    }
}
@media (max-width: 480px){
    .title{
        padding: 0 5%;
    }
    .container{
        padding: 10px 5% 40px 5%;
    }
    .store-button{
        height: 45px;
    }
    .store-buttons{
        margin-top: 2%;
    }
    .process-image{
        padding-bottom: 185%;
        background-size: 100%;
    }
}
@media (max-width: 400px){
}