.title{
    display: flex;
    flex-direction: row;
    min-height: 129px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 16%;
}
.title-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 69px;
}
.timeline{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.store-buttons{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
    margin:0;
    height: 69px;
    /* flex: 0 1 20%; */
}
.app-store-button{
    max-height: 57px;
}
.container{
    padding: 28px 16% 40px 16%;
    background-color: #ECEBF0;
}
p{
 font-size: 22px;
 font-weight: normal;
 margin: 0;   
}
li{
    font-size: 22px;
    font-weight: normal;
    padding: 0;
}
.project-image{
    height: 200px;
    margin-top: 20px;
}
img{
    width: 100%;
    object-fit: cover;
}
h3{
    margin: 25px 0 0 0;
    font-size: 22px;
    font-weight: bold;
}
ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.process-image{
    margin: 25px 0;
}