body{
    font-family: 'Source Sans Pro', sans-serif;
}
#header{
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16%;
    flex-wrap: nowrap;
}
#headerItems{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 18%;
}
a{
    text-decoration: none;
}