body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F7F5;
    color: #5E657A;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16%;
    flex-wrap: wrap;
}
#logo{
    display: flex;
    align-items: flex-start;
    /* flex: 0 1 80%; */
}
#headerItems{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-end;
    /* flex: 0 1 20%; */
}

.links{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #6A5F6B;
}
.other-item{
    margin: 0 1.5em; /* use for non-first elements in horizontal lists */
}
.right-edge-item{
    margin-left: 1.5em;  /* use for first element in horizontal lists when they are right aligned */
}
.left-edge-item{
    margin-right: 1.5em; /* use for first element in horizontal lists when they are left aligned */
}
.content-container{
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #F5F7F5;
    min-height: 338px;
    /* padding: 2% 0; */
}
h1{
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
}
.content{
    /* margin-top: 5em; */
    display: flex;
    padding: 0 16%;
    justify-content: space-between;
    /* margin: 40px 0; */
    /* align-items: top; */
    /* flex-wrap: wrap; */
    /* flex-wrap: initial; */
}
.heading{
    max-width: 673px;
    margin: 0;
    /* margin: 40px 0; */
    /* flex: 2 2 0; */
    /* flex-wrap: wrap; */
    /* flex-shrink: 2;   */
}
.profile-image{
    /* max-width: 233px; */
    max-height: 217px;
    margin: 0;
    /* margin: 40px 0; */
    /* flex: 1 1 0; */
    /* flex-shrink: 0; */
}
.job-label{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
.job-title{
    font-weight: 600;
    margin:0;
    font-size: 30px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 217px;
    /* flex-grow: 2; */
}
.projects-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: space-between;
    background-color: #ECEBF0;
    min-height: 610px;
    /* padding: 2% 0; */
}
.projects{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    min-height: 56px; /* need to fix height issue, the height should be 56px */
    padding: 0 16%;
}
.project-tiles{
    padding: 0 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-image{
    height: 381px;
}
hr{
    color: #17151A;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.project-group{
    height: 434px;
    margin: 40px 0;
}
.footer-container{
    background-color: #F5F7F5;
}
.footer{
    padding: 0 16%;
    display: flex;
    flex-direction: column;
    min-height: 189px;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 0;
    padding-left: 0;
    /* margin-top: 0; */
}
.footer-mail{
    padding-left: 5px;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-decoration: underline;
}
.footer-links{ 
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: left;
    justify-content: space-between;
    list-style: none;
    margin: 0; /*ul uses some indentation by default*/
    padding: 0; /*make padding and margin 0 to avoid indentation in future*/
}
@media (max-width: 1226px){
    #header{
        padding: 0 10%;
    }
    .content{
        padding: 0 10%;
    }
    .projects{
        padding: 0 10%;
    }
    .project-tiles{
        padding: 0 10%;
    }
    .footer{
        padding: 0 10%;
    }
}
@media (max-width: 1038px){
    .project-image{
        width: 100%;
        object-fit: cover;
        height: 381px;
    }
    .project-group{
        width: 100%;
    }
    .other-item{
        margin: 0 1em; /* use for non-first elements in horizontal lists */
    }
    .right-edge-item{
        margin-left: 1em;  /* use for first element in horizontal lists when they are right aligned */
    }
    .left-edge-item{
        margin-right: 1em; /* use for first element in horizontal lists when they are left aligned */
    }
}
@media (max-width: 897px){
    .content{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .heading{
        padding: 20px 0;
    }
    .project-group{
        margin: 20px 0;
    }
    .profile-image{
        padding-top: 20px;
        padding-bottom: 40px;
        width: 100%;
        object-fit: cover;
        display: none;
    }
    .job-title{
        padding-bottom: 20px;
    }
    .other-item{
        margin: 0 0.5em; /* use for non-first elements in horizontal lists */
    }
    .right-edge-item{
        margin-left: 0.5em;  /* use for first element in horizontal lists when they are right aligned */
    }
    .left-edge-item{
        margin-right: 0.5em; /* use for first element in horizontal lists when they are left aligned */
    }
}
@media (max-width: 400px){
    #header{
        padding: 0 5%;
    }
    .content{
        padding: 0 5%;
    }
    .projects{
        padding: 0 5%;
    }
    .project-tiles{
        padding: 0 5%;
    }
    .footer{
        padding: 0 5%;
    }
}